@charset "UTF-8";

/*==================================*/
/*Tagのデザイン*/
/*==================================*/

#Tags {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

#Tags h3 {
  font-size:14px;
  line-height: 1.429;
}
/*==================================*/
/*Blog投稿記事のデザイン*/
/*==================================*/

#Post ul {
  display: flex;
  flex-flow: column wrap;
  flex: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
}

.Posts ul a {
  display: block;
  padding: 50px;
  align-self: stretch;
  border: solid 1px blue;
  border-radius: 5px;
  margin: 20px;
  background-color: #FFFFFF;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.Posts ul a:hover {
  color: #FFFFFF;
  box-shadow: 0 6px 0 0 #C9C9C9;
  transition: box-shadow 0.3s ease-out;
}

.Entry > h3 {
  font-size: 28px;
  line-height: 1.214;
  text-align: center;
}

/* ================================================== */
/* Back to the Top == トップへ戻るボタン */
/* ================================================== */
.topBtn {
	position: fixed;
	bottom: 2%;
	right: 3%;
	width: 8%;
	height: auto;
}

#Arrow {
	display: none;
}

/* ==================== Smartphone's UI == スマートフォン向けUI ====================> */

@media screen and (max-width:600px) {

/* ================================================== */
/*  Back to the Top == トップへ戻るボタン */
/* ================================================== */

.topBtn {
  bottom: 30px;
  right: 10px;
  width: 50px;
}

}
