@charset "UTF-8";

/* ================================================== */
/* Back to the Top === トップへ戻るボタン */
/* ================================================== */
.topBtn {
	position: fixed;
	bottom: 2%;
	right: 3%;
	width: 8%;
	height: auto;
}

#Arrow {
	display: none;
}

