@charset "UTF-8";
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=7e43219c-f634-4c01-aa25-606efc088c5a&fontids=1459684");

@font-face{
  font-family: "Noto Sans JP Light";
src: url('/common/Fonts/NotoSansCJKJP/NotoSansCJKJP-Light.eot');
  src: url('/common/Fonts/NotoSansCJKJP/NotoSansCJKJP-Light.eot?#iefix') format('embedded-opentype'),
  url('/common/Fonts/NotoSansCJKJP/NotoSansCJKJP-Light.woff') format('woff'),
  url('/common/Fonts/NotoSansCJKP/NotoSansCJKJP-Light.ttf') format('truetype');
}

@font-face{
font-family:"Helvetica Neue Thin";
src:url("/common/Fonts/1459684/6a90c865-49a8-4f20-99c7-73987067d9c9.eot?#iefix");
src:url("/common/Fonts/1459684/6a90c865-49a8-4f20-99c7-73987067d9c9.eot?#iefix") format("eot"),
url("/common/Fonts/1459684/8520ec8f-b7f6-485e-a3b7-811ab3da29b2.woff2") format("woff2"),
url("/common/Fonts/1459684/cd6c33a1-279f-47db-8fa5-063d809888f8.woff") format("woff"),
url("/common/Fonts/1459684/b204c5ce-e6ed-4dfd-bfdc-b45b26fcb7c8.ttf") format("truetype"),
url("/common/Fonts/1459684/272a58f8-f0b6-4601-934c-b64afb2b3a56.svg#272a58f8-f0b6-4601-934c-b64afb2b3a56") format("svg");
}

/* ================================================== */
/*== Whole page == ページ全体 ==*/
/* ================================================== */

body * {
  color: #737373;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* h1, * h2, * h3, * p, * li, * a, * time, * small, * text {
  font-family: "Helvetica Neue Thin", 'Noto Sans JP Light', sans-serif;
  font-size: 100%;
  font-weight: bold;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /*スマートフォンで画面をタップ時に出る影を無効化*/
}

* ul {
  list-style: none;
}

* img {
  vertical-align: bottom;
}

::-moz-selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

::selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}


#Reading_matter {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ================================================== */
/*== Articles == 記事 ==*/
/* ================================================== */

#Headline {
  padding: 2%;
}

#Headline > time {
  font-size: 20px;
  line-height: 1.3;
}

h2 {
  font-size: 30px;
  line-height: 1.2;
  padding: 2$ 0;
}

h3 {
  
}

h4 {
  
}

#Contents {
  padding: 0 10%;
  flex: auto;
  /* display: flex;            */
  /* flex-flow: column nowrap; */
  /* flex: initial;            */
  /* justify-content: center;  */
  /* align-items: center;      */
}

.Posts > p {
  font-size: 22px;
  line-height: 1.27;
  text-align: left:
}

aside {
text-align: end;
}

/* ================================================== */
/*== Page footer == ページフッター ==*/
/* ================================================== */

#Appendix {
  padding: 1% 0;
  /* display: block;     */
  /* position: absolute; */
  /* align-self: baseline; */
  /* height: 3em; */
  /* width: 100%; */
  /* right: 0; */
  /* bottom: -3.5em; */
}

.Sub-Logo {
  font-size: 25px;
  text-align: right;
  color: #9B9B9B;
  letter-spacing: 2px;
}

.copyright {
  font-size: 15px;
  text-align: right;
}

.copyright small {
  letter-spacing: 2px;
  word-spacing: -4px;
  white-space: nowrap;
  color: #9B9B9B;
}

/* ================================================== */
/* == Back to the Top === トップへ戻るボタン == */
/* ================================================== */
.topBtn {
  position: fixed;
  bottom: 2%;
  right: 3%;
  width: 8%;
  height: auto;
}

#Arrow {
  display: none;
}

/* ==================== Smartphone's UI == スマートフォン向けUI ====================> */

@media screen and (max-width:600px) {

/* ================================================== */
/*  Back to the Top == トップへ戻るボタン */
/* ================================================== */

.topBtn {
  bottom: 30px;
  right: 10px;
  width: 50px;
}

}
