@charset "UTF-8";
/* ================================================== */
/* CSS for the Article page                           */
/* ================================================== */

/* ================================== */
/* The whole page                     */
/* ================================== */

body * {
  color: #737373;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* h1, * h2, * h3, * h4, * p, * li, * a, * time, * small, * text {
  font-family: "Helvetica Neue", Arial, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  vertical-align: bottom;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* スマートフォンで画面をタップ時に出る影を無効化 */
}

* ul {
  list-style: none;
}

* img {
  vertical-align: bottom;
}

::-moz-selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

::selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}


#Reading_matter {
  display: flex;
  flex-direction: column;
  width: calc(100% * 0.96);
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2vw;
  background-color: #FCFCFC;
}

/* ================================== */
/*  Articles                          */
/* ================================== */

#Headline {
  padding: 2%;
}

#Headline > time {
  font-size: 20px;
  /* line-height: 1.3; */
}

h2 {
  font-size: 30px;
  /* line-height: 1.2; */
  padding: 2% 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

#Contents {
  padding: 0 10%;
  flex: auto;
}

.Posts > p {
  font-size: 18px;
  /* line-height: 1.27; */
  text-align: left;
}

aside {
text-align: end;
}

/* ================================== */
/* SVG                                */
/* ================================== */

svg {
  height: 100%;
  width: 100%;
}

.Guide {
  display: flex;
  flex-flow: row nowrap;
}

.prev {
  padding: 10%;
}

.prev polyline {
  fill: none;
  stroke: rgba(252, 252, 252, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.prev rect {
  fill: rgba(201, 201, 201, 0.60);
}

.Home {
  padding: 10%;
}

.Home rect {
  fill: rgba(201, 201, 201, 0.60);
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next {
  padding: 10%;
}

.next polyline {
  fill: none;
  stroke: rgba(252, 252, 252, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next rect {
  fill: rgba(201, 201, 201, 0.60);
}

/* ================================== */
/*  Page footer                       */
/* ================================== */

#pageFood {
  position: absolute;
  min-width: 100%;
  padding-bottom: 0.5%;
  right: 0;
  bottom: -6.5vw;
}

.Colophon {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-end;
}

.Host_on {
  align-self: flex-end;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  text-align: right;
}

.Host_on a {
  color: #9DBED5;
}

.Trademark {
  padding-left: 2vw;
}

.Sub-Logo {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  line-height: 0.5;
  text-align: left;
}

.copyright {
  white-space: nowrap;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  text-align: left;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2%;
  right: 3%;
  width: 8%;
  height: auto;
}

#Arrow {
  display: none;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 736px or less ====================> */

@media screen and (max-width:736px) {

/* ================================== */
/*  Articles                          */
/* ================================== */

#Headline > time {
  font-size: 16px;
  /* line-height: 1.3; */
}

h2 {
  font-size: 24px;
  /* line-height: 1.2; */
  padding: 2% 0;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

#Contents {
  padding: 0 5%;
  flex: auto;
}

.Posts > p {
  font-size: 16px;
  /* line-height: 1.27; */
  text-align: left;
}
/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  bottom: 30px;
  right: 10px;
  width: 50px;
}

}
