@charset "UTF-8";
/* ================================================== */
/* Blog page CSS                                      */
/* ================================================== */

/* ================================== */
/* Tag                                */
/* ================================== */

#Tags {
  display: flex;
  flex-flow: row wrap;
  flex: initial;
  justify-content: space-around;
}

#Tags section {
  padding: 2vmin 3vmin;
  border-radius: 5px;
}

#Tags section:first-child {
  background-color: #9DBED5;
}

#Tags section:nth-child(2){
  background-color: #AAD3D3;
}

#Tags section:nth-child(3){
  background-color: #EED3BF;
}

#Tags h3 {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 60);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 60);
  letter-spacing: 0.1vw;
  line-height: 1.75;
}

/* ================================== */
/* Articles list                      */
/* ================================== */

.Posts {
  display: grid;
  grid-gap: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 5vmin;
}

.Entry {
  display: inline-block;
  padding: 2vh 3vw;
  border: solid 1px #FCFCFC;
  border-radius: 5px;
  background-color: #FCFCFC;
  text-align: center;
}

.Entry:hover {
  color: #FCFCFC;
  background-color: #C9C9C9;
  transition: background-color 0.3s ease-out;
}

.Entry h3 {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 30);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 30);
  letter-spacing: 0.3vw;
  line-height: 1.75;
  text-align: center;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2vmin;
  right: 3vw;
  width: 10vw;
  height: auto;
}

#Arrow {
  display: none;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 736px or less ====================> */

@media screen and (max-width:736px) {

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  width: 10vmax;
}

}
