<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
		<title>{{ site.name }}</title>
    <link rel="author" href="https://github.com/TomoharuIto">
    <link rel="canonical" href="https://tomoharuito.github.io">
  	<link rel="stylesheet" href="/blog/common/css/default.css">
	</head>

	<body>
    <header>
      <h1>TREE OF LIFE</h1>
      <!-- {% for tag in site.tags %}
      <article>
        <h2 id="tag_{{ tag[0] }}">{{ tag[0] }}</h2>
        <ul>
          {% for post in tag[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </article>
      {% endfor %} -->
      {% comment %}

      {% endcomment %}

      {% if post %}
        {% assign date = post.date %}
        {% assign tags = post.tags %}
      {% endif %}

      <section>
        <time
          datetime="{{ date | date_to_xmlschema }}"
          class="P_date">
          {{ date | date: "%Y.%m.%d" }}
        </time>

      {% comment %}

      {% endcomment %}
      <nav class="P_tags">
        {% for tag in tags %}
          <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">
            {{ tag }}
          </a>
        {% endfor %}
      </nav>
    </section>

    </header>
    <main id="Contents">
      <article>
        <section>
          {{ content }}
        </section>
        <nav class="Posts">
          {% for post in site.posts %}
            <ul>
              <a href="/blog{{ post.url }}">
                <li class="Entry">
                  <h3>{{ post.date | date: "%Y.%m.%d" }}<br>{{ post.title }}</h3>
                </li>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
              </a>
            </ul>
          {% endfor %}
        </nav>
      </article>
    </main><!-- /#Content -->
    <footer>
      <aside>
  		  {% include footer.html %}
      </aside>
    </footer>
	</body>
</html>
